body,
html {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

footer {
  position: bottom;
  bottom: 0px;
  padding: 5em;
  text-align: center;
  font-size: 8pt;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 600px;
  height: auto;
  padding: 1em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin: auto;
}

.maintext {
  color: white;
  background: black;
  text-align: center;
  transform: skewY(-4deg);
}

.content {
  padding: 6em;
  transform: skewY(4deg);
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
